.left-bottom-buttons-wrapper {
  position: absolute;
  left: 28px;
  bottom: 22px;
  .left-bottom-buttons {
    overflow: hidden;
  }
  button {
    color: white;
    font-size: 24px;
    background: none;
    border: none;
    float: left;
    + button {
      margin-left: 20px;
    }
    .icon {
      display: block;
      width: 28px;
      height: 24px;
      margin-right: 8px;
      margin-top: 6px;
      border-radius: 6px;
      float: left;
      &.icon-double {
        width: 56px;
      }
      svg {
        fill: white;
      }
    }
    .text {
      float: left;
    }
  }
}
