.left-bottom-buttons-wrapper {
  position: absolute;
  left: 28px;
  bottom: 22px;
  .left-bottom-buttons {
    display: flex;
    align-items: center;
    // gap: 20px;
  }
  button {
    color: white;
    display: flex;
    align-items: center;
    // gap: 8px;
    font-size: 24px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    + button {
      margin-left: 20px;
    }
    .icon {
      display: block;
      width: 28px;
      height: 24px;
      margin-right: 8px;
      border-radius: 6px;
      &.icon-double {
        width: 56px;
      }
      svg {
        fill: white;
      }
    }
  }
}
