.right-bottom-buttons-wrapper {
  position: absolute;
  right: 30px;
  bottom: 22px;
  .home-page & {
    bottom: 270px;
    opacity: 0;
    animation: slideUp 0.3s ease-in forwards;
    animation-delay: 0.2s;
  }
  .welcome-page & {
    bottom: 60px;
    animation: fadeIn 0.3s ease-in 1;
  }
  .right-bottom-buttons {
    overflow: hidden;
  }
  button {
    color: white;
    align-items: center;
    font-size: 24px;
    background: none;
    border: none;
    align-items: center;
    float: left;
    .icon {
      display: block;
      width: 28px;
      height: 24px;
      border-radius: 6px;
      margin-right: 8px;
      margin-top: 6px;
      float: left;
    }
    .text {
      float: left;
    }
    + button {
      margin-left: 30px;
    }
  }
}
