/**
 * Fonts
*/
@font-face {
  font-family: "Gotham Bold";
  font-weight: normal;
  src: local("Gotham Bold"), url(../fonts/SVN-Gotham-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Gotham Book";
  font-weight: normal;
  src: local("Gotham Book"), url(../fonts/SVN-Gotham-Book.woff2) format("woff2");
}
@font-face {
  font-family: "Gotham Regular";
  font-weight: normal;
  src: local("Gotham Regular"),
    url(../fonts/SVN-Gotham-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "sources";
  src: url("../fonts/sources.ttf?o7k9h1") format("truetype"),
    url("../fonts/sources.woff?o7k9h1") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "menuicons";
  src: url(../fonts/menuicons.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
