/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #f1f1f1;
$foreground-color: #fff;
$caption-color: #000;

/* Components */
