@keyframes tiktak {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.2s ease-in;
  overflow: hidden;
  .logo {
    padding: 18px 28px;
    float: left;
    img {
      height: 48px;
      width: auto;
    }
  }
  .generalInfo {
    float: right;
    font-size: 23px;
    padding-right: 28px;
    padding-top: 20px;
    > div {
      margin-left: 20px;
      float: left;
    }
    sup {
      line-height: 1;
    }
    .clock-area {
      align-items: center;
      .icon {
        width: 24px;
        // transform: translateY(3px);
        margin-right: 5px;
        margin-top: 3px;
        float: left;
      }
      .separate {
        animation: tiktak 500ms ease-in alternate infinite;
      }
    }
  }
  .wakeup-call {
    position: absolute;
    right: 26px;
    top: 60px;
    font-size: 28px;
    line-height: 28px;
    gap: 6px;
  }
}
