<div	class="header"	id="header">
	<div>
		<div	class="logo">
			<img	src="images/logo_white.png"	alt="" />
		</div>
	</div>
	<div	class="generalInfo">
		<div	id="guest"	class="guest">
			Welcome, Mr. Tuấn Lê
		</div>
		<div	id="roomNumber"	class="room-number">
			Room 1101
		</div>
		<div	id="weather"	class="wearther">
			+30
			<sup>
				o
			</sup>
			C
		</div>
		<div	class="clock-area">
			<span	class="icon">
				<svg	xmlns="http://www.w3.org/2000/svg"	width="24"	height="24"	viewBox="0 0 24 24">
					<path	fill="currentColor"	d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z" />
					<rect	width="2"	height="7"	x="11"	y="6"	fill="currentColor"	rx="1">
						<animateTransform	attributeName="transform"	dur="3600s"	repeatCount="indefinite"	type="rotate"	values="0 12 12;360 12 12" />
					</rect>
					<rect	width="2"	height="9"	x="11"	y="11"	fill="currentColor"	rx="1">
						<animateTransform	attributeName="transform"	dur="10s"	repeatCount="indefinite"	type="rotate"	values="0 12 12;360 12 12" />
					</rect>
				</svg>
			</span>
			<span	id="clock">
				10
				<span	class="separate">
					:
				</span>
				00
			</span>
		</div>
		<div	id="date"	class="date">
			August 10, 2023
		</div>
	</div>

{# <div	class="wakeup-call">
	<span	class="icons8-alarm-clock"></span>
	<span	class="text">
	{wakeUpHour}
	</span>
</div> #}

</div>
