{% set data = htmlWebpackPlugin.options %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Boilerplate HTML
    </title>
  </head>

  <body>
    <input type="hidden" id="hashchange" value="" />
    <div id="root">
      <div class="site-wrapper">
        <!-- header -->
        {% include './header.twig' %}
        <!-- header -->

        <!-- main -->{% block page %}
        {% endblock %}
        <!-- /main -->

        <!-- footer -->
      {% include './footer.twig' %}
      <!-- /footer -->
    </div>
    </div>

    <script src="assets/js/lib/jquery-1.11.3p1.min.js"></script>
    <script src="assets/js/lib/html5shiv.min.js"></script>
    <script src="assets/js/lib/jquery.cookie.min.js"></script>
    <script src="assets/js/lib/jq-router.js"></script>
    <script src="assets/js/lib/i18njs.min.js"></script>
    <script src="assets/js/lib/view-models.js"></script>
  <script src="assets/js/lib/dash.2.6.2.all.min.js"></script>

</body>
</html>