<div id="home" class="page home-page">
  <div class="video-background">
    <div class="flowplayer-embed-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width:100%;">
      <iframe webkitAllowFullScreen mozallowfullscreen allowfullscreen src="http://103.153.72.195:8080/video/HITEC_Scandic_Video_No_Sound.mp4" title="0" byline="0" portrait="0" frameborder="0" allow="autoplay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
    </div>
  </div>
  <div class="menu-container">
    <div class="navigate back">
      <svg
        id="btn_arrow_left"
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 24 40"
      >
        <path
          fillRule="nonzero"
          stroke="none"
          d="M19.651 0L23 3.408 6.66 20 23 36.63 19.688 40 1.693 21.685 0 20l1.693-1.685z"
        />
      </svg>
    </div>
    <div class="navigate next">
      <svg
        id="btn_arrow_right"
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 24 40"
      >
        <path
          fillRule="nonzero"
          stroke="none"
          d="M3.494 0L0 3.408 17.05 20 0 36.63 3.456 40l18.778-18.315L24 20l-1.766-1.685z"
        />
      </svg>
    </div>
    <div class="menu-wrapper">
      <div class="menu-cursor" style="width: 236px; height: 236px; transform: translate(0px, 0px);">
        <div>&nbsp;</div>
      </div>
      <div class="menu-scroller" style="transform: translateX(0px);">
        <div class="menu-item" style="flex-basis: 236px; height: 236px;">
          <div class="a">
            <div class="icon"><svg id="icon-tv" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 130 130">
              <g fillrule="nonzero">
                <path d="M19 23v58.66h92V23H19zm3.68 3.666h84.64v51.327H22.68V26.666zm16.215 58.66a1.847 1.847 0 0 0-1.668 2.005 1.85 1.85 0 0 0 2.013 1.661h51.52a1.852 1.852 0 0 0 1.617-.91c.33-.572.33-1.274 0-1.847a1.852 1.852 0 0 0-1.617-.91H38.895z"></path>
              </g>
            </svg></div>
            <div class="text">
              <span>Television</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-bottom-buttons-wrapper">
    <div class="right-bottom-buttons">
        <button>
          <div class="icon" style="background-color: #FF0000"></div>
          <div class="text">
            <span id="buttonTelevision">Television</span>
          </div>
        </button>
        <button>
          <div class="icon" style="background-color: #143F7B"></div>
          <div class="text">
            <span id="buttonLanguage">Language</span>
          </div>
        </button>
    </div>
  </div>
  <div class="cover"></div>
</div>